footer {
  margin-top: 12vmax;
  padding: 2vmax;
  background-color: rgb(34, 33, 33);
  color: white;
  display: flex;
  align-items: center;
}

.leftFooter {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.leftFooter > h4 {
  font-family: "Roboto";
  font-size: 1vmax;
}
.leftFooter > p {
  text-align: center;
  font-size: 1.2vmax;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.leftFooter > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

.midFooter {
  width: 50%;

  text-align: center;
}

.midFooter > h1 {
  font-size: 2.5vmax;
  font-family: "Roboto";
  color: #eb4034;
}
.midFooter > p {
  max-width: 50%;
  font-size: 1vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
}

.rightFooter {
  width: 25%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline;
}
.rightFooter > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  transition: all 0.5s;
  margin: 0.5vmax;
}

.rightFooter > a:hover {
  color: #eb4034;
}

.leftFooter>button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vmax;
  /* margin-bottom: 5vmax; */
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1vmax;
  transition: all 0.5s;
  /* width: 10vmax; */
  font: 500 1.2vmax "Roboto";
}
.icon{
  padding-right: 5px;
}